<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spletna trgovina</title>
    <link rel="stylesheet" href="../stylesheets/mystyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/306d461829.js" crossorigin="anonymous"></script>
</head>
  <div>
    <h1 align="center"> Spletna trgovina "Ex-Yu"</h1>
    <p align="center"> <i> Trgovina z <b>jugoslovenske</b> avtomobile.  <br/>Lahko nas najdete na Obrežna ulica 35.</i></p>
    <p align="center" style="font-size: x-small;"><a href="login.html">LOGIN |</a> <a href="registracija.html">REGISTRACIJA</a></a>
        <p align="center"id="demo">
        <script>
        var d = new Date();
        document.getElementById("demo").innerHTML = d;
        </script>
    </p>
    </p>
 </div>  
    <hr >
      <nav class="navbar navbar-expand-sm">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html"><i class="fas fa-home"></i>Domov</a>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Modeli
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="modeli.html">Splošno</a></li>
            <li><a href="podrobnosti.html#a1">Yugo GV Sport</a></li>
            <li><a href="podrobnosti.html#a2">Zastava Yugo 45</a></li>
            <li><a href="podrobnosti.html#a3">Yugo 55</a></li>
            <li><a href="podrobnosti.html">Yugo Cabrio</a></li>
            <li><a href="podrobnosti.html">Zastava Koral</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="podrobnosti.html"><i class="fas fa-asterisk"></i>Podrobnosti</a>
        </li>
        <li class="nav-item">
        </li>
      </ul>
      </nav>
  
    <hr />
    
    <img src="../images/cars.jpg" alt="Jugoslovensko avto" class="center">
    <style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
      }
    </style>
   <div class="container">
		
		<div class="row">
			
			<div class="col-sm-4">
        </div></div>
        <div class="col">"Ex - Yu" je podjetje, ki prodaja najbolj znane Jugoslovanske avtomobile. Smo tudi specializirani za obnovo teh legendarnih avtomobilov, ki jih vsak pozna iz otroštva. Našo lokacijo najdete na spodnjem zemljevidu.
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2743.4253953824477!2d15.625454449469867!3d46.55905242881424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476f77c7f762a901%3A0x319118a62e35ed69!2sObre%C5%BEna%20ulica%2035%2C%202000%20Maribor!5e0!3m2!1sen!2ssi!4v1583834269859!5m2!1sen!2ssi" class="center" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
        <div class="container">
		
          <div class="row">
            
            <div class="col-sm-4">
              </div></div></div> <p align="center"> Yugo avtomobile so pogodni za <b>vsako sredino</b>
                </p>
                <p align="center"> <img src="../images/yugo.jpg" alt="Edna od ponujenih avtomobilov"width="600px"; height="400px";></p>
              
    
         </div>
      </div>
    <p>


    </p>
    <div>
        
        <div>
            <table>

            </table>
        </div>
    </div>

    <hr />
   
    <p id="demo"></p>

    <script>
    var d = new Date();
    document.getElementById("demo").innerHTML = d;
    </script>
    
    <p>

    </p>
    
    <footer class="page-footer font-small blue pt-4" <i class="center">Kontakt: <a href="mailto:viktor.nankovski@student.um.si">viktor.nankovski@student.um.si</a></i>></footer>
  </body>
</html>