<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spletna trgovina</title>
    <link rel="stylesheet" href="../stylesheets/mystyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/306d461829.js" crossorigin="anonymous"></script>
</head>
<body onload="generirajIzdelke()"
<h1 align="center"> Spletna trgovina "Ex-Yu"</h1>

    <p align="center" style="font-size: x-small;"><a href="login.html">LOGIN |</a> <a href="registracija.html">REGISTRACIJA</a></a></p>
    <hr >
    <nav class="navbar navbar-expand-sm">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="index.html"><i class="fas fa-home"></i>Domov</a>
    </li>
    <li class="nav-item">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Modeli
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="modeli.html">Splošno</a></li>
        <li><a href="podrobnosti.html#a1">Yugo GV Sport</a></li>
        <li><a href="podrobnosti.html#a2">Zastava Yugo 45</a></li>
        <li><a href="podrobnosti.html#a3">Yugo 55</a></li>
        <li><a href="podrobnosti.html">Yugo Cabrio</a></li>
        <li><a href="podrobnosti.html">Zastava Koral</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="podrobnosti.html"><i class="fas fa-asterisk"></i>Podrobnosti</a>
      </li>
      <li class="nav-item">
      
    </li>
 
    </ul>
    </nav>

  <hr />
  <div class="container">
		<div class="row">
        </div>
    <div class="col-sm-4">
    </div> <div class="container"> 
      <h2>Podrobnosti avtomobilov</h2>        
      <table class="table">
        <thead>
        <tr>
            <th>Avtomobil</th>
            <th>Opis</th>
            <th>Cena</th>
            <th>Kilometre</th>
            <th>Slika</th>
            <th></th>
        </tr>
        <tr>
            <td><a href="https://en.wikipedia.org/wiki/Yugo"> Yugo GV Sport</a></td>
            <td>Eden od najboljših proizvedenih modelov Yugo</td>
            <td>2000€</td>
            <td>90000</td>
            <td><a href="../images/yugo_sport.jpg" title="click here to see the full sized image" id="a1"><img src="../images/yugo_sport.jpg" width="100px" height="100px"/> </a> </td>
            <td><button type="button" class="btn btn-link"><a href="akcija.html">Kupi</a></button></td>
            <script></script>
        </tr>
        <tr>
            <td><a href="https://en.wikipedia.org/wiki/Yugo"> Zastava Yugo 45</a></td>
            <td>Yugo 45 je bil eden najbolj prodajnih avtomobilov v Jugoslaviji. Izdelovali so ga med leti 1980 in 2008 v tovarni Crvena Zvezda. Zasnoval ga je Giorgetto Giugiaro. Vozilu so večkrat spremenili ime, vendar je vsem navdušencem ostal v spominu pod imenom Yugo.</td>
            <td>1800€</td>
            <td>110000</td>
            <td><a href="../images/yugo_45.jpg" title="click here to see the full sized image" id="a2"> <img src="../images/yugo_45.jpg" width="100px" height="100px"/></a></td>
            <td><button type="button" class="btn btn-link"><a href="racun.html">Kupi</a></button></td>
            <script></script>
        </tr>
        <tr>
            <td><a href="https://en.wikipedia.org/wiki/Yugo">Yugo 55</a></td>
            <td>Široko uporabljen Yugo model</td>
            <td>1400€</td>
            <td>150000</td>
            <td><a href="../images/yugo_55.jpg" title="click here to see the full sized image" id="a1"><img src="../images/yugo_55.jpg" width="100px" height="100px"/> </a> </td>
            <td><button type="button" class="btn btn-link"><a href="racun.html">Kupi</a></button></td>
            <script></script>
        </tr>
    </table>

<p id="demo"></p>


    <hr/>
    <i>Kontakt: <a href="mailto:viktor.nankovski@student.um.si">viktor.nankovski@student.um.si
    </a></i>
</body>

</html>